*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: red 1px solid;
  }

.topheader {
  position: static;
  border-bottom: 2px solid #8dbc46;
}

.headerflex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media screen (max-width: 680px) {
  display: flex;
  flex-direction: column;
}

.logo {
  flex: 1;
  padding-left: 3%;
}

.headerlogo {
  width: 250px;
}

@media screen (max-width: 680px) {
  .headerlogo {
    width: 200px;
  }
}

.tagline {
  flex: 2;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 2.5em;
  color: #8dbc46;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
}

@media (max-width: 680px) {
  .tagline {
    font-size: 1em;
  }
}

#report {
  padding: 1em;
  position: absolute;
  top: 112px;
  left:40px;
  bottom:0px;
  width: 35%;
  z-index: 1;
}

#report p {
  font-family: 'Roboto', sans-serif;
  font-size: .75em;
  line-height: 1.5em;
}

#report-btn{
  background: #8dbc46;
  padding: 1em;
  position: absolute;
  width:350px;
  z-index: 1;
}

#report-btn h1 {
  color: #FFFFFF;
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
  font-weight:800;
  line-height:1.5em;
  text-align:center;
  text-transform: uppercase;
  margin:0px auto;
  padding-right: 10px;
  text-shadow:0px 1px 0px rgba(255,255,255,0.3)
}

#map {
  width: 100%;
  height: 100%;
  position: fixed;
}

.formwrapper {
  padding: 1em 2em;
  position: relative;
  top: 65px;
  width: 350px;
  background-color: #FFFFFF;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.element {
  flex: 1 0 auto;
}

input:focus {
  outline: 0;
  border: 1px solid #bbb;
}

/*
input[type=text], select {
  width: 100%;
}
*/

.row .element:nth-child(odd) {
  font-weight: bold;
  font-size: 1em;
  background: linear-gradient(#f1f1f1, #e2e2e2);
  padding: 5px 10px;
  color: #444;
  border: 1px solid #d4d4d4;
  border-right: 0;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  width: 28%;
  clear: left;
  margin-top: 6px;
  float: left;
  text-align: center;
  cursor: pointer;
}

.row .element:nth-child(even) {
  width: 72%;
  padding: 2px;
  border: 1px solid #d4d4d4;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 4px;
  line-height: 1.5em;
  float: right;
  box-shadow: inset 0px 2px 2px #ececec;
  margin: 6px 2px 0 0;
}


.elementsubmit {
  flex: 1;
}

.row .elementoneline {
  flex: 1
  font-weight: bold;
  font-size: 1em;
}

input {
  border: none;
}

select:active {
  border: none;
}

input.clearfix {
  border: none;
  width: 100%;
}

select.clearfix {
  border: none;
  width: 100%;
}

input[type=file], select {
  width: 100%;
}

#choosefile {
  margin-top: 5px;
  align-content: center;
  font-size: .75em;
  text-decoration: none;
  font-weight: 800;
  padding: .35em 1em;
  background-color: #eaeef1;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .1));
  border-radius: 3px;
  color: rgba(0, 0, 0, .6);
  text-shadow: 0 1px 1px rgba(255, 255, 255, .7);
  box-shadow: 0 0 0 0px rgba(0, 0, 0, .2), 0 0px 0px rgba(0, 0, 0, .2), inset 0 1px 2px rgba(255, 255, 255, .7);
}

#submit {
  margin-top: 5px;
  align-content: center;
  font-size: .75em;
  text-decoration: none;
  font-weight: 800;
  padding: .35em 1em;
  background-color: #eaeef1;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .1));
  border-radius: 3px;
  color: rgba(0, 0, 0, .6);
  text-shadow: 0 1px 1px rgba(255, 255, 255, .7);
  box-shadow: 0 0 0 0px rgba(0, 0, 0, .2), 0 0px 0px rgba(0, 0, 0, .2), inset 0 1px 2px rgba(255, 255, 255, .7);
}

.elementsubmit {
  test-align: center;
}

/*
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}
.clearfix { display: inline-block; }*/
/* start commented backslash hack \*/
/*
* html .clearfix { height: 1%; }
.clearfix { display: block; }
*/

/* close commented backslash hack */
/*
.row .element:nth-child(odd) {
  width: 100px;
}
*/

.row .element:nth-child(even) {
  width: 75%;
}

/*
#send {
  background: #FFFFFF;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  padding: 1em;
  float:left;
  left:0px;
  bottom:0px;
  width:300px;
  z-index: 1;
}

input {
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  margin-bottom: 5px;
  border: 2px solid #CCC;
  margin-right:-2px;
}

input:placeholder {
  color: #ccc;
}

.formlocation {
  width: 175px;
}

.flexform_description {
  width: 250px;
  height: 4em;
}

.flexform {
  flex: 1;
  position: relative;
  text-decoration: none;
  width: 200px;
}

input:focus,
textarea:focus,
select:focus {
  background-color: #DCDCDC;
}


/* <style type="text/css">
.form-style-5{
    max-width: 500px;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 20px;
    background: #f4f7f8;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-5 fieldset{
    border: none;
}
.form-style-5 legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}
.form-style-5 label {
    display: block;
    margin-bottom: 8px;
}
.form-style-5 input[type="text"],
.form-style-5 input[type="date"],
.form-style-5 input[type="datetime"],
.form-style-5 input[type="email"],
.form-style-5 input[type="number"],
.form-style-5 input[type="search"],
.form-style-5 input[type="time"],
.form-style-5 input[type="url"],
.form-style-5 textarea,
.form-style-5 select {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;

}
.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="date"]:focus,
.form-style-5 input[type="datetime"]:focus,
.form-style-5 input[type="email"]:focus,
.form-style-5 input[type="number"]:focus,
.form-style-5 input[type="search"]:focus,
.form-style-5 input[type="time"]:focus,
.form-style-5 input[type="url"]:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus{
    background: #d2d9dd;
}
.form-style-5 select{
    -webkit-appearance: menulist-button;
    height:35px;
}
.form-style-5 .number {
    background: #1abc9c;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0px;
}

.form-style-5 input[type="submit"],
.form-style-5 input[type="button"]
{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}
.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover
{
    background: #109177;
}
</style>
*/
